*{
    box-sizing: border-box;
}
:root{
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkSaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White:hsl(0, 0%, 100%);
    --SlightlyTransW: hsla(0, 0%, 100%, 0.75);
    --SlightTrans: hsla(0, 0%, 100%, 0.75);
}
body{
    font-size: 15px;
    background-color: var(--VeryDarkBlue);
}
.B-container{
    background-color: var(--DarkSaturatedBlue);
    color:var(--White);
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    border-radius: 10px;
    width: 900px;
    height:300px;
    margin: 180px auto;
}
.head{
    font-family: 'Inter', sans-serif;
    display: inline;
    /* font-family: 'Lexend Deca', sans-serif; */
}
 .paragraph{
     font-family: 'Lexend Deca', sans-serif;
     color: var(--SlightTrans);
     width: 100%;
     font-size:12px;

}
.upper-text{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin:0;
    color: var(--White);
    font-size:25px;
    margin-bottom:0;
}

/* .box
{
    position: absolute;
    background-color: var(--SoftViolet);
    height:300px;
    width: 430px;
    right:318px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    z-index: 1;

} */
.desk-img {
    width: 900px;
    /* color:; */
    height:300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: url(/images/image-header-mobile.jpg);
    opacity: 0.5;
    /* object-fit: cover; */
    /* position: relative; */
}

.all-texts{
  text-transform: uppercase;
}

.lower-text{
   
    display: flex;
   font-size: 12px;
justify-content: space-between;
    position: relative;
    bottom: 40px;;
    color: var(--SlightTrans);
    font-family: 'Lexend Deca', sans-serif;
}
.insights{
    color: var(--SoftViolet);
}
.q{
    position: relative;
    right: 10px;
}
.T-container{
    padding: 50px;
    /* diplay: flex; */
}
@media (max-width: 375px){
body{
    width: 375px;
}
.B-container{
    background-color: var(--DarkSaturatedBlue);
    color:var(--White);
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    /* align-items: center; */
    border-radius: 10px;
    width: 200px;
    height:600px;
    margin: 180px auto;
}

.desk-img {
    width: 100%;
    /* height:300px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(/images/image-header-mobile.jpg) no-repeat;
    opacity: 0.5;
}

}