
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background : hsl(223, 64%, 98%);
    --primary : hsl(220, 13%, 13%);
    --orange : hsl(26, 100%, 55%);
}
.container{
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container > nav > ul > li{
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
}
.nav-container > nav > ul > li > a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    padding: 0 0 10px 0;
}
.nav-container > nav > ul > li > a:hover{
    border-bottom: 2px solid var(--orange);
}
.nav-img > img{
    display: none;
}

@media (max-width: 480px){
    .container{
        padding: 1rem 2rem;
        position: relative;
    }
    .nav-img > img{
        display: block;
        cursor: pointer;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-container > nav{
        display: none;
        position: absolute;
        left: 0;
        top: 3.3rem;
        background-color: var(--background);
        width: 100%;
        padding: 1rem 0 1rem 2rem;
    }
    .nav-container > nav > ul > li{
        display: block;
        margin-bottom: 1rem;
    }
}
