
*{
    box-sizing: border-box;
}

:root{
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --VeryDarkBlueM: hsl(217, 54%, 11%);
    --VeryDarkBlueC: hsl(216, 50%, 16%);
    --VeryDarkBlueL: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--VeryDarkBlueM);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: outfit;
    color: var(--SoftBlue);
}

.container{
    background-color: var(--VeryDarkBlueC);
    height: 500px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px;
}

.image img{
    width: 260px;
    border-radius: 10px;
    margin: auto;
}

h3{
    color: var(--White);
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.eth{
    color: var(--Cyan);
    font-weight: 600;
}
hr{

    border: 1px solid;
    color:var(--VeryDarkBlueL);
}

.footer img{
    width: 30px;
    border: 2px solid white;
border-radius: 50%;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    position: relative;
    right: 20px;
}

span{
    color: white;
}
    @media (max-width: 375px){

}

.image img:hover{
    opacity: 0.5;
/* background: url(/images/icon-view.svg); */
}

.image:hover{
    background: url(/images/icon-view.svg) no-repeat center;
    background-color: var(--Cyan);
    border-radius: 10px;
    height: 260px;
    cursor: pointer;
}

h3:hover{
    color: var(--Cyan);
    cursor: pointer;
}

span:hover{
    color: var(--Cyan);
    cursor: pointer;

}